body{
    background-color: rgb(255, 255, 255);
}
p{
    text-align: justify;
    font-size: large;
    text-align: justify;
    
}
h1{
    background-color: rgba(255, 166, 0, 0.342);
    color: rgb(114, 75, 3)
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 0, 0.315);
    color: rgb(255, 140, 0);

}
strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}