@charset 'UTF8';

div.quadrado {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: silver;
    display: inline-block;

}
div#q1 {
    background-color: aqua;
}

div#q2 {
    background-image: linear-gradient(45deg, orange, white);
}

div#q3 {
    background-image: url('imagens/pattern001.png'); /* selecionamos o backgroud-image: e digitamos 'URl', o VSCoding já completa tudo, basta colocarmos aspas simples entre as chaves e digitarmos o caminho
    da imagem que queremos, o vscoding agora funciona a função 'CTRL + ESPAÇO' para colocarmos o caminho das imagens*/ 

}


body {
    background-image: url('imagens/pattern002.png');  /* As imagens de fundo do site tem uma valor apenas de stilo, não tem valor semântico.*/

}
