body{
    background-color: antiquewhite;
    font: normal arial 30pt;

}
h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p{
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}