@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



body {
    background-image:linear-gradient(45deg, #8C786C, #594B43, #8C786C) ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;


}
header{
    background-color: #F2B84B;
    width: auto;
    color: black;
    padding: 10px;
    text-align: center;
    


}
main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    margin-bottom: 500px;
    border-bottom-left-radius: 20px; /* no border conseguimos colocar apenas em uma parte da caixa, aqui coquei apenas na parte de baixo tanto na direita quanto na esquerda. */
    border-bottom-right-radius: 20px;  
}
h1 {
    font-size: 3em;
    font-family: 'Great Vibes', cursive;

}
footer {
    background-color:  #38302a;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

article > aside {
    text-align: right;
    font-weight: bold;
    font-style: italic;
}
nav > a {
    text-decoration: none;
    color: #3b332d;
    margin-right: 35px;
    font-weight: bold;
}
nav > a:hover {
    text-decoration: underline;

}

  /*   ---------  SOMBRAS EM CAIXAS  --------------------------------- */ 
h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #1b0e09cc;
    box-shadow: 2px 2px 4px 1px   rgba(0, 0, 0, 0.39);

    /* sequencia do shorthand:  deslocamento  horizontal,  evertical, espalhamento e sombra.   Lembre-se de sempre colocar uma sombra preta mas que não seja preto muito forte 
    basta mexer na barra de cores e arrastar um pouco para baixo
    Podemos também usar o Devtools para ajustar a sombra como quisermos  */ 
    
    color: #3b332d;
    background-color: rgb(173, 173, 153);
}


aside > p {
    text-align: right;
}
img#allianz {
    border-radius: 10px;
    width: auto;
   
}
 article > p {
    text-indent: 20px;
 }

div#bola {                                      /* Aqui criamos uma bola simples utilizado apenas uma div e o border radius */ 
    height: 100px;                              
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}






