@charset 'UTF-8';

div.bloco {

    height: 100px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url('imagens/wallpaper003.jpg');
}
div#q1 {
    background-position: left top;
}

div#q2{
    background-position: left center;

}
 div#q3 {
     background-position: right bottom;

 }

 div#q4 {
     background-position: center center;

 }
 /* VEJA QUE CADA COMANDO QUE DAMOS A POSIÇÃO DO BACKRGOUD, ELE IRÁ SE INICIAR A PARTIDA DESSE COMANDO, EXEMPLO : 
 
    NO #Q3 COLOQUEI PARA SE POSICIONAR DA DIREITA PARA BAIXO, ENTÃO A DIV IRÁ FICAR COM A PARTE DA IMAGE DA DIREITA PARA BAIXO */ 
    