@charset "UTF-8";


        body {
            background-color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(255, 102, 0);
            background-color: aquamarine;
        }
        h2 {
            color: rgb(148, 17, 71);
            background-color: rgb(17, 9, 94);
        }
        p{
            text-align: justify;
            text-align: justify;
            color: rgb(0, 0, 0);
        }
 
        a {
            color: rgb(0, 17, 255);
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
            
        }