body{
    background-color: bisque;

}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
p{
    text-align: justify;
    font-weight: 500;
    
}